<html>
    <head>
        <title>Doom for Naomi WAD Injector</title>
        <style>
            ul.flashes {
                list-style-type: none; /* Remove bullets */
                padding: 0; /* Remove padding */
                margin: 0; /* Remove margins */
                color: red; /* Error red */
            }
        </style>
    </head>

    <body>
        <div>
            <p>
                Select a WAD file to upload.
            </p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form action="./" enctype="multipart/form-data" method="post">
                <p>
                    <input type="file" id="myFile" name="filename">
                </p>
                <p>
                    <input type="submit" value="Inject WAD">
                </p>
            </form>
        </div>
    </body>
</html>
